
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    background-color: rgb(28, 12, 37);
}
.baslik{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.gizli{
margin-top: 100px;
}
.gizli img{
    width: 100%;
    border-radius: 50px;
}
.giris-btn button{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: black;
    border: none;
    text-transform: capitalize;
}
.giris-btn a{
    text-decoration: none;
    color: black;
}
.giris-btn{
    margin-top: 100px;
}